{% extends 'base.html' %}

{% block content %}
<div class="grid">
    {% for item in media_items %}
    <a href="{{ url_for('view_media', media_id=item['id']) }}" style="text-decoration: none;">
        <div class="card">
            <img src="{{ url_for('get_image', media_id=item['id']) }}" alt="{{ item['title'] }}" class="card-img">
            <div class="card-body">
                <h3 class="card-title">{{ item['title'] }}</h3>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}